body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f4f4f9; 
    margin: 0; 
    padding: 0; 
}

section.join-us {
    max-width: 800px; 
    margin: 50px auto; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out; 
}

h1 {
    text-align: center; 
    color: #333; 

}

p { 
    text-align: center; 
    color: #666; 
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin: 20px 0; 
}

th, td {
    padding: 12px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #f8f8f8; 
}

tr:hover {
    background: #f1f1f1; 
}

.button-container {
    text-align: center; 
    margin-top: 20px; 
}

button {
    background-color: #ff0000;
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff0000; 
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}
